body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.product-card{
  margin: 15px;
  display: inline-block;
  padding: 15px;
  text-align: center;
  border: 2px solid #FFDDCC;
  box-shadow: 2px 2px 1px #FFDDCC;
  margin-left: 40px;
}
.product-card:hover{
  transform: scale(1.1);
}
.title{
  margin-left: 50px;
}
